<h1>Categories</h1>

<ul class="list-unstyled">
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

<%= link_to "Add a new category", new_category_path %>
