  <h3>New category</h3>
<div class="well">

    <%= form_for @category do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
      <%= f.submit :class => 'btn btn-primary' %>
    <% end %>
</div>
